:root {
    --csbu-blue: rgb(0, 76, 153);
}

nav .title {
    background-color: var(--tng-blue);
    color: #ffffff;
}


.book > header .fill {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 640px;
}

.book > header {
    display: table;
    padding: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #afafaf;
    border-radius: 0;
    text-align: right;
}

.book > header {
    padding-bottom: 1rem;
}

.book > header .cover {
    display: table-row;
}

.book > header .cover .image {
    display: table-cell;
    vertical-align: top;
}

.book > header .cover .text {
    display: table-cell;
    vertical-align: top;
}

.book > header h1 {
    text-align: right;
}

/* ============================================================ */

nav.top {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-color: var(--csbu-blue);
    color: #fffff8;
    text-align: center;
}

nav.top .nav {
    float: left;
    margin-left: 0.25rem;
    margin-left: 4rem;
}

nav.top .title {
    font-family: var(--title-family);
}

nav.top .logo {
    float: right;
    font-size: 18px;
    margin-right: 4rem;
    display: inline-block;
    padding-top: 6pt;
}

